body {
	background: #CCCCCC;
	color:#000;
}

button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	transition: all .05s;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	cursor: pointer;
	position:relative;
  overflow: hidden;
  border: 1px solid;
  color: rgba(0,0,0,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #FFFFFF;
  -webkit-box-shadow: 3px 3px 0 0 rgba(40,40,40,0.8) ;
  box-shadow: 3px 3px 0 0 rgba(40,40,40,0.8) ;
  text-shadow: 1px 1px 1px rgba(40,40,40,0.2) ;
}
button:focus {
	outline:0;
}

button:active {
	transform: translate(2px, 2px);
	background-color: #BBBBBB;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.8) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.8) ;
}

#train {
	font-size: .5em;
}

#connection_details {
	text-align: center;
}

#switches, #loops {
    margin-top: 20px;
}

#manual, #semiauto {
		margin-top: 10px;
		padding: 10px;
}

.switch, .loop {
    -webkit-appearance: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.lights {
    -webkit-appearance: none;
    margin-top: 20px;
}

.rslider {
    margin-top: 20px;
    margin-bottom: 20px;
}

.stop {
    margin-top: 10px;
    -webkit-appearance: none;
    height: 30px;
}

#throttle .rs-handle  {
    background-color: transparent;
    border: 8px solid transparent;
    border-right-color: #000;
    margin: -11px 0px 0px 18px !important;
    border-width: 11px 85px 11px 0px;
		transition: all .1s;
}
#throttle .rs-handle:before  {
    display: block;
    content: " ";
    position: absolute;
    height: 22px;
    width: 22px;
    background: #000;
    right: -11px;
    bottom: -11px;
    border-radius: 100px;
		transition: all .1s;
}

.rs-seperator { border: 100px solid #777777;
	transition: all .1s; }
.rs-border { border: 2px solid #777777;
background-color: #BBBBBB;
transition: all .1s; }
.rs-path-color { background-color: #BBBBBB;
	transition: all .1s; }
.rs-range-color { background-color: #DB3838;
	transition: all .1s; }
.rs-range2-color { background-color: #228B22;
    transition: all .1s; }
.rs-bg-color { background-color: #CCCCCC;
	transition: all .1s; }
.rs-handle { background-color: #838383;
	transition: all .1s; }
.rs-handle-dot { background-color: #CCCCCC;
	transition: all .1s; }
.rs-handle-dot:after { background-color: #838383;
	transition: all .1s; }

/*#throttle .rs-range-color  {*/
    /*background-color: #DB5959;*/
/*}*/
/*#throttle .rs-path-color  {*/
    /*background-color: #F0C5C5;*/
/*}*/
